@keyframes loading-pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

[data-loading] {
  pointer-events: none;
  animation: loading-pulse 0.5s infinite;
  animation-direction: alternate;
}

[data-portal] {
  padding: 4px;
  margin: 4px 0;
}

[data-portal]:not([data-loaded="true"]) {
  background: rgb(255, 236, 201);
}

[data-portal][data-loaded="true"] {
  background: rgb(223, 255, 223);
}

nav {
  margin: 12px 0;
}

button {
  margin: 4px 0;
}

h4 {
  margin-top: 0;
}
