@keyframes loading-pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

[data-loading] {
  pointer-events: none;
  animation: loading-pulse 0.5s infinite;
  animation-direction: alternate;
}
